---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=ya29.a0Ael9sCOD25seBBCcUVymZVN8gjSxyDMhOq7KKOrZAGCNOSZkbNJydzOTEV0ganfAT0_oy8aj3B0bVeMQ3PsfPwDKR_qRm1LvPEWkcVgIzTiA_wdyK7qvza8XebANzAV8RxY2B3L51RIW7cf9p0NjiWK1-0DtaCgYKAbwSARASFQF4udJhHKOY5VoxkFsOvKl63VUHFw0163
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "issued_to": "711551580135-89m9riv5pkia0avfkq3nvenhtv7tdek5.apps.googleusercontent.com",
          "audience": "711551580135-89m9riv5pkia0avfkq3nvenhtv7tdek5.apps.googleusercontent.com",
          "user_id": "110571411033205705898",
          "scope": "https://www.googleapis.com/auth/classroom.coursework.students https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/classroom.announcements https://www.googleapis.com/auth/classroom.announcements.readonly https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly https://www.googleapis.com/auth/classroom.push-notifications openid",
          "expires_in": 3342,
          "email": "staff.thrill@gmail.com",
          "verified_email": true,
          "access_type": "offline"
        }
  recorded_at: Sun, 16 Apr 2023 22:38:29 GMT
recorded_with: VCR 6.1.0
